# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

#Generated assets
src/main/resources/assets/woodstyles/blockstates/*.json
src/main/resources/assets/woodstyles/models/block/*.json
src/main/resources/assets/woodstyles/models/item/*.json